.Page_header {
  display: flex;
  justify-content: space-between;
}

.Page_header-nav {
  Background-color: orange;
  width: 100px;
  height: 30px;
  text-align: center;
  color: white;
  border-radius: 50px;
  padding-top: 10px;
}
.Page_header > nav:nth-child(1) {
  flex-grow: 1;
  margin: 20px;
}

.Page_header > nav:nth-child(2) {
  flex-grow: 1;
  margin: 20px;
}

.Page_header > nav:nth-child(3) {
  Background-color: yellow;
  width: 100px;
  height: 70px;
  color: black;
  flex-grow: 2;
  margin: 20px;
}

.Page_header > nav:nth-child(4) {
  flex-grow: 1;
  margin: 20px;
}

.Page_header > nav:nth-child(5) {
  flex-grow: 1;
  margin: 20px;
}

.Page_body {
  width: 800px;
  height: 1000px;
  Background-color: pink;
  border-radius: 50px;
  padding: 30px;
  padding-top: 60px;
  margin: 40px;
}

h3 {
  font-size: 50px;
}
p{
  font-size: 30px;
}

@media screen and (min-width:1024px) {
  .Page_body {
    Background-color: gray;
    width: 1300px;
    height: 550px;
  }
  .flex_side {
    display: flex;
    flex-direction: row-reverse;
  }
  h3 {
    font-size: 30px;
    padding: 20px;
  }
  p{
    font-size: 20px;
    padding: 20px;
  }

}
